* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #39297b;
  text-align: center;
}

/* Header */
h1 {
  background-color: #1a1a1a;
  color: #ffd700;
  text-shadow: 0 0 10px #ffd700, 0 0 20px #ff8c00;
  padding: 30px 0;
}

p {
  background-color: #1a1a1a;
  color: #ffffff;
  text-shadow: 0 0 5px #ffd700, 0 0 10px #ff8c00;
  padding-bottom: 20px;
}

/* Main container */
.main-content {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: black;
}

/* Hero section */
.heros-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.hero-card {
  background-color: #fff8e1;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.hero-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.hero-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.hero-name {
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #222222;
}

/* Footer styling */
footer {
  background-color: black;
  color: #ffffff;
  padding: 20px 10px;
  margin-top: 40px;
}

.foot h3 {
  margin: 10px 0;
  font-size: 16px;
}

.foot h6 {
  margin: 5px 0;
  font-size: 14px;
}

.foot ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.foot ul li {
  display: inline-block;
  margin: 5px 8px;
}

.foot ul li a {
  color: #f0c330;
  text-decoration: none;
  font-weight: bold;
}

.foot ul li a:hover {
  text-decoration: underline;
  color: #ffeb3b;
}

/* MOBILE VIEW: Devices under 768px */
 @media (max-width: 768px) {
      h1 {
        font-size: 1.5rem;
        padding: 10px 0;
      }

      .main-content {
        width: 100%;
        padding: 15px;
      }

      .hero-photo {
        width: 180px;
        margin: 15px auto;
      }

      .heros-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding:10px;
      }

      .hero-card {
        width: 80%;
        max-width: 300px;
      }

      .hero-card img {
        height: auto;
      }

      .hero-name {
        font-size: 14px;
      }

      .see-more-button {
        font-size: 16px;
        padding: 10px 24px;
      }

      .foot h3, .foot h6 {
        font-size: 12px;
      }

      .foot ul li {
        display: block;
        margin: 5px 0;
      }
    }
